[Unit]
Description=fonehome daemon
Documentation=man:fonehome(1)
Documentation=https://github.com/archiecobbs/fonehome
After=network.target syslog.socket

[Service]
ExecStart=@fonehomescript@
Restart=always
RestartSec=30s

# Security hardening
ProtectSystem=full
ProtectHome=true
PrivateDevices=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true

[Install]
WantedBy=multi-user.target
